[target.wasm32-unknown-unknown]
rustflags = [
  "-C",
  "target-feature=+atomics,+bulk-memory,+mutable-globals,+simd128,+relaxed-simd",
  "-C",
  "link-arg=--shared-memory",
  "-C",
  "link-arg=--max-memory=4294967296",
  "-C",
  "link-arg=--import-memory",
  "-C",
  "link-arg=--export=__wasm_init_tls",
  "-C",
  "link-arg=--export=__tls_size",
  "-C",
  "link-arg=--export=__tls_align",
  "-C",
  "link-arg=--export=__tls_base",
]
